<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ asset('bundles/atminbox/css/css.css') }}">
        {% block stylesheets %}{% endblock stylesheets %}
        {% block headingJS %}{% endblock headingJS %}
        <script type="text/javascript" src="{{ asset('bundles/atminbox/js/jquery-1112.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body>
        <div class="clear"></div>
        <div class="inner">
            <div class="wide inbox">
                <div class="quarter">
                    <ul class="inbox_menu">
                        <li>
                            <a href="{{ path('inbox_write_message') }}" id="btnWrite" class="but new">
                                <i class="fa fa-envelope"></i>Write Message
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('inbox_index') }}" id="btnReceived" class="but {% block menuInboxClass %}{% endblock menuInboxClass %}">
                                Inbox (<span class="unreadMessages">{{ getUnreadMessages(app.user.id) }}</span>)
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('inbox_sent_messages') }}" id="btnSent" class="but {% block menuSentClass %}{% endblock menuSentClass %}">
                                Sent Messages
                            </a>
                        </li>
                        {% if isMMAdmin() %}
                            <li>
                                <a href="{{ path('inbox_massive_messages_sent') }}" id="btnSent" class="but {% block menuSentMassiveClass %}{% endblock menuSentMassiveClass %}">
                                    Massive Messages Sent
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="threequarter">
                    {% block inboxButtons %}
                    <div class="buts-area">
                        <a onclick="history.back()" class="but">< Back</a>
                        <a href="" class="but delete"><i class="fa fa-trash-o"></i> Delete</a>
                        <a href="" class="but" id="btnReply"><i class="fa fa-reply"></i> Reply</a>
                    </div>
                    <div class="clear"></div>
                    {% endblock inboxButtons %}
                    <h1 class="block_title inbox">{% block inbox_title %}{% endblock inbox_title %}</h1>
                    {% block inboxContent %}{% endblock inboxContent %}
                </div>
            </div>
        </div>
        {% block inboxJavascripts  %}{% endblock inboxJavascripts  %}
    </body>
</html>