{% extends 'ATMInboxBundle:Inbox:base.html.twig' %}

{% set subject = message.subject  %}
{% set canBeReplied = message.no_reply is not defined or (message.no_reply is defined and not message.no_reply)  %}

{% block inboxButtons %}
    {% set conversationMessagesLength = (conversationMessages | length) - 1 %}
    {% set conversationMessageId = conversationMessages[conversationMessagesLength].id %}

    <div class="buts-area">
        <a onclick="history.back()" class="but">< Back</a>
        <a href="{{ path('inbox_delete_message',{ 'ids': conversationId }) }}" class="but delete"><i class="fa fa-trash"></i> Delete</a>
        {% if canBeReplied %}
            <a href="" class="but" id="btnReply"><i class="fa fa-reply"></i> Reply</a>
        {% endif %}
    </div>
    <div class="clear"></div>
{% endblock inboxButtons %}
{% block inbox_title %}
   {{ subject }}
{% endblock inbox_title %}

{% block inboxContent %}
    <div class="conversationContainer">
        {% for conversationMessage in conversationMessages %}
            {% set cvmessage = conversationMessage.message %}
            {% set bodyOpen = 'display:none' %}
            {% if conversationMessage.message.id == message.id %}
                {% set subject = cvmessage.subject %}
                {% set bodyOpen = 'display:block' %}
                {% set conversationMessageId = cvmessage.id %}
            {% endif %}
            <div class="messageItem">
                <div class="msgHeader">
                    <span class="user">{{ cvmessage.author.username }}</span>
                    <span class="date">{{ cvmessage.creationdate | date('d-m-Y H:i:s') }}</span>
                </div>
                <div class="msgBody" id="body{{ conversationMessage.id }}" style="{{ bodyOpen }}">
                    {{ cvmessage.body | raw }}
                </div>
            </div>
            <div class="clear"></div>
        {% endfor %}
    </div>

    {% if canBeReplied %}
        <form action="{{ path('inbox_reply_message',{'messageId':0 }) }}" method="post" id="frmReply" class="msg-edit feed">
            <a href="" class="close"><i class="fa fa-times"></i> </a>

            <div class="msgHeader">
                <span class="user">{{ app.user.username }}</span>
                <div class="clear"></div>
                <fieldset>
                    <legend>Subject</legend>
                    {{ form_widget(form.subject,{ 'attr':{ 'value':subject } }) }}
                </fieldset>
                <div class="clear"></div>
                <fieldset class="wide">
                    <div id="selectedUser">
                        <i class="fa fa-reply fa-rotate-180"></i> to {{ receiver.username }}
                    </div>
                </fieldset>
            </div>
            <div class="msgBody">
                <fieldset>
                    {{ form_widget(form.body) }}
                </fieldset>
                {{ form_rest(form) }}
                <input type="hidden" id="userId" name="userId" value="{{ receiver.id }}">
                <input type="hidden" id="conversationId" name="conversationId" value="{{ conversationId }}">
                <input type="submit" value="Send" class="but" id="btnSubmit">
            </div>
        </form>
    {% endif %}
{% endblock inboxContent %}

{% block inboxJavascripts %}
    <script>
        $('.messageItem').click(function(){
            if(!$(this).hasClass('reply')){
                if($('.msgOpen').length > 0){
                    $('.msgOpen').find(".msgBody").hide();
                    $('.msgOpen').removeClass('msgOpen');
                }else{
                    $(this).addClass('msgOpen').find('.msgBody').show();
                }
            }

        });

        $('#btnSubmit').click(function(e){
            e.preventDefault();
            var correct = true

            if($('#atminbox_bundle_message_type_subject').val() == ''){
                $('#atminbox_bundle_message_type_subject').css('border','1px solid red');
                correct = false;
                $('html, body').animate({
                    scrollTop: $("#atminbox_bundle_message_type_subject").offset().top - 100
                }, 500);
            }else{
                $('#atminbox_bundle_message_type_subject').attr('style','');
            }

            if(correct){
                $('#frmReply').submit();
            }
        });
    </script>
{% endblock inboxJavascripts %}