{% extends 'ATMInboxBundle:Inbox:base.html.twig' %}

{% block headingJS %}
    <style>
        .bold{font-weight: bold;}
    </style>
{% endblock headingJS %}

{% block menuInboxClass %}active{% endblock menuInboxClass %}

{% block inboxButtons %}
    <div class="buts-area">
        <a class="but" id="selectAll" data-check="Check All" data-uncheck="Uncheck All">Check All</a>
        <a class="but delete" id="delMessages" style="display:none"><i class="fa fa-trash-o"></i> Delete</a>
        <a class="but delete" id="markRead" style="display:none"><i class="fa fa-book"></i> Mark as read</a>
    </div>
    <div class="clear"></div>
{% endblock inboxButtons %}

{% block inboxContent %}
    {% if app.session.flashBag.has('massive_message_queued') %}
        <div class="inner index-tour grad wide login_msg">
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('massive_message_queued') %}
                    <h2 class="page_title white"> {{ msg }}</h2>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="conversationContainer">
        {% for conversation in receivedConversations %}
            {% include 'ATMInboxBundle:Inbox:item/conversation.html.twig' with { 'conversation':conversation } %}
        {% else %}
            <p class="noMsg">No messages to show</p>
        {% endfor %}
    </div>
    <div class="navigation">{{ knp_pagination_render(pagination) }}</div>

{% endblock inboxContent %}

{% block inboxJavascripts  %}
    <script>
        $('.conversationContainer').on('click','.conversationItem',function(){
            var messageId = $(this).attr('data-message-id');
            location.href = Routing.generate('inbox_see_message_body',{'messageId':messageId})
        });

        $('.conversationContainer').on('click','.messageItem',function(e){
            var target = $(e.target);
            if(!target.hasClass('chkMessage')){
                window.location = $(this).attr('data-url');
            }
        });
        $('#selectAll').click(function(){
            if($('.chkMessage').length > 0) {
                if (!$('#delMessages').is(':visible') && !$('#markRead').is(':visible')) {
                    $('#delMessages,#markRead').show();
                    $('.chkMessage').prop('checked', true);
                    $(this).text($(this).attr('data-uncheck'));
                } else {
                    $('#delMessages,#markRead').hide();
                    $('.chkMessage').prop('checked', false);
                    $(this).text($(this).attr('data-check'));
                }
            }
        });

        $('.conversationContainer').on('click','.chkMessage',function(){

            var chk = $(this);
            var delBtn = $('#delMessages');
            var mrkRead = $('#markRead');
            if(chk.is(':checked') && !delBtn.is(':visible') && !mrkRead.is(':visible')){
                delBtn.show();
                mrkRead.show();
                $('#selectAll').text($('#selectAll').attr('data-uncheck'));
            }else if(delBtn.is(':visible') && mrkRead.is(':visible')){
                var hideBtns = true;
                $('.chkMessage').each(function(){
                    if($(this).is(':checked')){
                        hideBtns = false;
                    }
                });

                if(hideBtns){
                    delBtn.hide();
                    mrkRead.hide();
                    $('#selectAll').text($('#selectAll').attr('data-check'));
                }
            }

            e.stopPropagation();
        });

        $('#markRead').click(function(){
            var ids = [];
            var cmId;

            $('.chkMessage').each(function(){
                if($(this).is(':checked')){
                    cmId = $(this).attr('data-conversation-id');
                    ids.push(cmId);
                }
            });

            if(ids.length > 0){
                $.ajax({
                    url: Routing.generate('inbox_mark_as_read',{ 'ids': ids.join(',') }),
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        redrawMessagesTable('received');
                        $('.unreadMessages').html(data.unreadMessages);
                        $('#selectAll').text($('#selectAll').attr('data-check'));
                    }
                });
            }
        });

        $('#delMessages').click(function(){
            var ids = [];
            var cmId;

            $('.chkMessage').each(function(){
                if($(this).is(':checked')){
                    cmId = $(this).attr('data-conversation-id');
                    ids.push(cmId);
                }
            });

            if(ids.length > 0){
                $.ajax({
                    url: Routing.generate('inbox_delete_message',{ 'ids': ids.join(',') }),
                    type: 'post',
                    dataType:'json',
                    success: function(data){
                        redrawMessagesTable('received');
                        $('.unreadMessages').html(data.unreadMessages);
                        $('#selectAll').text($('#selectAll').attr('data-check'));
                    }
                });
            }
        });

        $('#markUnread').click(function(){
            var ids = [];
            var cmId;

            $('.chkMessage').each(function(){
                if($(this).is(':checked')){
                    cmId = $(this).attr('data-conversation-id');
                    ids.push(cmId);
                }
            });

            if(ids.length > 0){
                $.ajax({
                    url: Routing.generate('inbox_mark_as_unread',{ 'ids': ids.join(',') }),
                    type: 'post',
                    dataType:'json',
                    success: function(data){
                        redrawMessagesTable('received');
                        $('.unreadMessages').html(data.unreadMessages);
                        $('#selectAll').text($('#selectAll').attr('data-check'));
                    }
                });
            }
        });

        function redrawMessagesTable(inboxType){
            $.ajax({
                url: Routing.generate('inbox_redraw_messages_table',{'page':{{ page}},'inboxType':inboxType}),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('.conversationContainer').html(data);
                    $('#delMessages,#markRead').hide();
                }
            });
        }
    </script>
{% endblock inboxJavascripts  %}