{% extends 'ATMInboxBundle:Inbox:base.html.twig' %}

{% block menuSentMassiveClass %}active{% endblock menuSentMassiveClass %}

{% block inboxButtons %}
    <div class="buts-area">
        <a class="but" id="selectAll">Select All</a>
        <a class="but delete" id="delMessages" style="display:none"><i class="fa fa-trash-o"></i> Delete</a>
    </div>
    <div class="clear"></div>
{% endblock inboxButtons %}


{% block inboxContent %}
    <div class="conversationContainer">
        {% for conversation in sentConversations %}
            {% include 'ATMInboxBundle:Inbox:item/conversation.html.twig' with { 'conversation':conversation } %}
        {% else %}
            <p class="noMsg">No messages to show</p>
        {% endfor %}
    </div>
    <div class="navigation"> {{ knp_pagination_render(pagination) }}</div>

{% endblock inboxContent %}

{% block javascripts %}
    <script>
        $('.conversationContainer').on('click','.conversationItem',function(){
            var messageId = $(this).attr('data-message-id');
            location.href = Routing.generate('inbox_see_message_body',{'messageId':messageId})

        });
        $('.conversationContainer').on('.messageItem','click',function(e){
            var target = $(e.target);
            if(!target.hasClass('chkMessage')){
                window.location = $(this).attr('data-url');
            }
        });

        $('#selectAll').click(function(){
            if($('.chkMessage').length > 0){
                if(!$('#delMessages').is(':visible')){
                    $('#delMessages').show();
                    $('.chkMessage').prop('checked',true);
                }else{
                    $('#delMessages').hide();
                    $('.chkMessage').prop('checked',false);
                }
            }
        });

        $('.conversationContainer').on('click','.chkMessage',function(){

            var chk = $(this);
            var delBtn = $('#delMessages');
            if(chk.is(':checked') && !delBtn.is(':visible')){
                delBtn.show();
            }else if(delBtn.is(':visible')){
                var hideBtns = true;
                $('.chkMessage').each(function(){
                    if($(this).is(':checked')){
                        hideBtns = false;
                    }
                });

                if(hideBtns){
                    delBtn.hide();
                }
            }
        });

        $('#delMessages').click(function(){
            var ids = [];
            var cmId;

            $('.chkMessage').each(function(){
                if($(this).is(':checked')){
                    cmId = $(this).attr('data-conversation-id');
                    ids.push(cmId);
                }
            });

            if(ids.length > 0){
                $.ajax({
                    url: Routing.generate('inbox_delete_message',{ 'ids': ids.join(',') }),
                    type: 'post',
                    dataType:'json',
                    success: function(){
                        redrawMessagesTable('sent');
                    }
                });
            }
        });

        function redrawMessagesTable(inboxType){
            $.ajax({
                url: Routing.generate('inbox_redraw_messages_table',{'page':{{ page}},'inboxType':inboxType}),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('.conversationContainer').html(data);
                    $('#delMessages').hide();
                }
            });
        }
    </script>
{% endblock javascripts %}