{% set message = conversationMessage.message %}
{% if not conversationMessage.isRead %}
    {% set class = 'unread' %}
{% else %}
    {% set class = '' %}
{% endif %}
<div class="messageItem {{ class }}" data-url="{{ path('inbox_see_message_body', { 'messageId':message.id }) }}" style="cursor:pointer">
    <div class="msgHeader">
        <span class="user">{{ message.author.username }}</span>
        <div class="conversation_subject">
            <div class="subject"> {{ message.body | raw }}</div>
            <span class="date"> {{ message.creationdate | date('d-m-Y H:i:s') }}</span>
        </div>
    </div>
</div>